NODE_ENV=development
PORT=5000

FRONTEND_URL=http://localhost:5173

DB_HOST=
DB_PORT=3306
DB_NAME=cafe_app
DB_USER=
DB_PASSWORD=

DB_SSL_CA_PATH=./certificates/global-bundle.pem
DB_CONNECTION_LIMIT=5

JWT_SECRET=
JWT_EXPIRES_IN=8h